.toplevel {
  margin: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
}

.toplevel > .widgets {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

